.title{
  margin: 44px 0;
  text-align: center;
  @media screen and (max-width:475px) {
    margin-bottom: 44px;
  }
}
.imageContainer{
  position: relative;
  border: 10px solid gray;
}
.botao{
  background-color: #2C586B;
  border: none;
  color: white;
  padding: 10px;
  position: absolute;
  z-index: 2;
  right: -44px;
  @media screen and (max-width:475px) {
    top: -47px;
    right: 0;
  }
}