.container{
  p{
    margin: 1em 0;
    line-height: 2em;
    font-size: 18px;
    color: silver;
    
  }
  ul{
    padding: 0 1em;
    margin-bottom: 20px;
    li{
      list-style: disc;
      list-style-position: inside;
      font-size: 1.1em;
      line-height: 1.6;
      color: silver;
    }
  }
  ol{
    padding: 0 1em;
    margin-bottom: 30px;
    li{
      list-style-type: decimal;
      list-style-position: inside;
      font-size: 1.1em;
      line-height: 1.6;
      color: silver;
    }
  }
  strong{
    color: #3A2883;
    font-weight: normal;
  }
}

.title{
  margin: 44px 0;
  text-align: center;
  @media screen and (max-width:475px) {
    margin-bottom: 44px;
  }
}
.imageContainer{
  position: relative;
  border: 10px solid gray;
}
.botao{
  background-color: #2C586B;
  border: none;
  color: white;
  padding: 10px;
  position: absolute;
  z-index: 2;
  right: -44px;
  cursor: pointer;
  @media screen and (max-width:475px) {
    top: -47px;
    right: 0;
  }

  &:hover{
    background-color: #396d83;
  }
}
.botaoCopia{
  position: absolute;
  z-index: 2;
  border: none;
  background-color: transparent;
  padding: 7px;
  cursor: pointer;
}